@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --color-surface: #0f131d;
  --color-surface-dim: #0f131d;
  --color-surface-container-lowest: #0a0e17;
  --color-surface-container-low: #171c25;
  --color-surface-container: #1b2029;
  --color-surface-container-high: #262a34;
  --color-surface-container-highest: #31353f;
  --color-surface-bright: #353944;
  --color-surface-variant: #31353f;

  --color-primary: #dbfcff;
  --color-primary-container: #00f0ff;
  --color-primary-fixed: #7df4ff;
  --color-primary-fixed-dim: #00dbe9;
  --color-on-primary: #00363a;
  --color-on-primary-container: #006970;

  --color-secondary: #d0bcff;
  --color-secondary-container: #571bc1;
  --color-secondary-fixed: #e9ddff;
  --color-secondary-fixed-dim: #d0bcff;

  --color-tertiary: #eef7ff;
  --color-tertiary-container: #aee0ff;
  --color-tertiary-fixed: #c4e7ff;
  --color-tertiary-fixed-dim: #7bd0ff;

  --color-outline: #849495;
  --color-outline-variant: #3b494b;
  --color-on-surface: #dfe2f0;
  --color-on-surface-variant: #b9cacb;
}

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    background-color: #070b13;
    font-family: var(--font-sans);
    color: #dfe2f0;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
